{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1 class="mb-4">Sell</h1>
    <div class="container d-flex justify-content-center">
        <form action="/sell" method="post" class="form-inline">
            <select autofocus class="form-control m-1" name="symbol" placeholder="Select a stock to sell" required>
                {% for symbol in symbols %}
                    <option>{{ symbol['symbol'] }}</option>
                {% endfor %}
            </select>
            <input class="form-control m-1" name="shares" placeholder="Quantity" type="number" min="1" required>
            <button class="btn btn-primary m-1" type="submit">Sell</button>
        </form>
    </div>
{% endblock %}